name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '0 0 * * *'  # every day at 00:00 UTC

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          days-before-stale: 90
          days-before-close: 21
          stale-issue-label: stale
          stale-pr-label: stale
