---
name: Tests
on: [push, pull_request]
permissions: read-all
jobs:
  test-windows:
    strategy:
      fail-fast: false
      matrix:
        target:
          - windows-amd64-unit-test-4-cpu
        # FIXME(fuweid):
        #
        # The windows will throws the following error when enable race.
        # We skip it until we have solution.
        #
        #   ThreadSanitizer failed to allocate 0x000200000000 (8589934592) bytes at 0x0400c0000000 (error code: 1455)
        #
        # - windows-amd64-unit-test-4-cpu-race
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - run: make fmt
      - env:
          TARGET: ${{ matrix.target }}
        run: |
          case "${TARGET}" in
            windows-amd64-unit-test-4-cpu)
              CPU=4 TIMEOUT=60m make test
              ;;
            *)
              echo "Failed to find target"
              exit 1
              ;;
          esac
        shell: bash
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: v2.1.6

  coverage:
    needs: ["test-windows"]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: v2.1.6
      - run: make coverage
        env:
          TIMEOUT: 60m
