---
name: Tests AMD64
permissions: read-all
on: [push, pull_request]
jobs:
  test-linux-amd64:
    uses: ./.github/workflows/tests-template.yml
  test-linux-amd64-race:
    uses: ./.github/workflows/tests-template.yml
    with:
      runs-on: ubuntu-latest
      targets: "['linux-unit-test-4-cpu-race']"

  coverage:
    needs:
      - test-linux-amd64
      - test-linux-amd64-race
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.6
      - run: make coverage
