---
name: Tests ARM64
permissions: read-all
on: [push, pull_request]
jobs:
  test-linux-arm64:
    uses: ./.github/workflows/tests-template.yml
    with:
      runs-on: ubuntu-24.04-arm
  test-linux-arm64-race:
    uses: ./.github/workflows/tests-template.yml
    with:
      runs-on: ubuntu-24.04-arm
      targets: "['linux-unit-test-4-cpu-race']"

  coverage:
    needs:
      - test-linux-arm64
      - test-linux-arm64-race
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.6
      - run: make coverage
